/********** Base styles **********/

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-family: cursive;
}

.container {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

div.item {
  position: relative;
  background-color: #999999;
  margin: 11px;
  border: 2px solid black;
}

p {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
  font-family: Helvetica;
  text-align: justify;
  color: black;
}

section {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

section.chicken {
  background-color: #d59898;
}

section.beef {
  background-color: #c14543;
  color: whitesmoke;
}

section.sushi {
  background-color: #e5d198;
}

/* Simple Responsive Framework. */

/********** Large devices only **********/
@media (min-width: 992px) {

  .item {
    height: 220px;
    float: left;
    width: 31%;
  }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  .item {
    float: left;
    width: 47%;
  }
  .item1, .item2 {
    height: 200px;
  }

  .item3{
    width: 96.3%;
    height: 120px;
  }

}

/********** small devices only **********/
@media (max-width: 767px) {

  .item {
    float: left;
    width: 97%;
  }

}